<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style2.css">
</head>
<body>
  <marquee scrollamount="15">Hello node j Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et facere eveniet voluptatum, quas, perspiciatis quae a repellat cupiditate quaerat doloremque numquam temporibus accusamus sequi cumque reprehenderit animi laboriosam architecto?</marquee>
</body>
</html>